.island {
  display: grid;
  //   grid-template-columns: repeat(0.05fr, 20);
  grid-template-columns: repeat(20, 0.05fr);
  grid-template-rows: repeat(20, 0.05fr);
  gap: 1px;
  //   border: 1px solid black;

  .tile {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
  }

  .deep_water {
    background: #1c5b88;
  }

  .water {
    background: #648eab;
  }

  .sand {
    background: #f5e9b4;
  }

  .land {
    background: #7eae6a;
  }
}
