#menu-pane {
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 0;
  height: 100%;
  width: $menuPaneWidth;
  align-content: start;
  color: white;
  background: rgb(40, 40, 40);
  z-index: 100;
  transform: translateX(-$menuPaneWidth);
  transition: 0.4s cubic-bezier(0.23, 1, 0.32, 1);

  #menu {
    display: grid;
    height: 100%;
    grid-template-rows: 1fr auto;
    align-content: start;

    h1 {
      display: block;
      padding: 10px;
      font-size: 28px;
    }

    nav a {
      display: block;
      padding: 10px;
      font-size: 18px;
      text-decoration: none;

      &:hover {
        background: rgba(0, 0, 0, 0.2);
      }

      &.active {
        background: rgba(0, 0, 0, 0.2);
      }
    }
  }

  #attributions {
    padding: 10px;
    color: #333;
    font-size: 10px;
    text-align: center;

    a {
      color: #444;

      &:hover {
        color: #666;
      }
    }
  }

  footer {
    padding: 10px;
    color: #444;
    text-align: center;
    font-size: 12px;

    a {
      color: #666;
    }
  }

  a {
    color: #fff;
  }

  @media all and (max-width: 699px) {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
  }

  @media all and (min-width: 700px) {
    transform: translateX(0);
  }

  &.visible {
    transform: translateX(0);
  }

  @media all and (max-width: 699px) {
    &.visible {
      box-shadow: 1px 0 10px #111;
    }
  }
}
