@import '../../styles/config.scss';

.listTiles {
  display: grid;
  gap: 10px;
  background: blue;
}

.tileBox {
  display: grid;
  grid-auto-flow: column;
  background: blue;

  & > div {
    display: grid;
    grid-auto-flow: column;
    border: 1px solid black;
  }

  .tileLogo {
    height: 50px;
    width: 50px;
  }

  img {
    margin: 4px;
    width: 42px;
    height: 42px;
  }
}

.stats {
  display: grid;
  grid-auto-flow: column;
  justify-content: flex-start;
  gap: 10px;

  & > div {
    width: auto;
    background: green;
  }

  .iconStat {
    height: 20px;
    display: grid;
    gap: 4px;
    grid-auto-flow: column;
    align-items: center;
    background: yellow;

    img {
      height: 16px;
      width: 16px;
    }
  }
}
