@import '../../styles/config.scss';

.table {
  thead tr th img {
    height: 16px;
    width: 16px;
  }

  tbody tr {
    height: 50px;

    .manageBtn {
      display: block;
      width: 30px;
      cursor: pointer;
    }
  }
}
