@import '../../styles/config.scss';

.upgradeTable {
  tr {
    height: 50px;

    td:first-child {
      width: 32px;

      img {
        display: block;
      }
    }

    td:nth-child(2) {
      width: 100%;
    }

    td:nth-child(3) {
      min-width: 80px;

      span {
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        justify-content: flex-start;
        gap: 4px;

        img {
          width: 16px;
          height: 16px;
        }
      }
    }
  }
}
