@import '../../styles/config.scss';

.actions {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 10px;
  //   background: red;
}

.action {
  display: grid;
}

.button {
  button {
    width: 100%;
  }
}
