// Layout
$menuPaneWidth: 200px;
$notificationPaneWidth: 300px;

// Theme
$themeBlue: #264653;

// Text
$linkColor: $themeBlue;

// Island tiles
$deepWater: #3a7ead;
$water: #669abd;
$sand: #e8e0c9;
$land: #accfa0;
