/*
 * Rubik
 */

@font-face {
  font-family: 'Rubik';
  font-weight: normal;
  font-style: normal;
  src: url('../assets/fonts/rubik/rubik-regular.ttf');
}

@font-face {
  font-family: 'Rubik';
  font-weight: bold;
  font-style: normal;
  src: url('../assets/fonts/rubik/rubik-bold.ttf');
}

@font-face {
  font-family: 'Rubik';
  font-weight: normal;
  font-style: italic;
  src: url('../assets/fonts/rubik/rubik-italic.ttf');
}

@font-face {
  font-family: 'Rubik';
  font-weight: bold;
  font-style: italic;
  src: url('../assets/fonts/rubik/rubik-bold-italic.ttf');
}
