// This file is a dump of random stuff for now. A lot of it
// probably needs to be refactored at some point.

// Fonts
@import './fonts.scss';

input {
  padding: 6px;
  font-size: 18px;
  border: 1px solid #bbb;
}

nav ul {
  list-style-type: none;
}
