// This file is a dump of random stuff for now. A lot of it
// probably needs to be refactored at some point.

// Fonts
@import './fonts.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Livvic', sans-serif;
}

:global(#mount) {
  height: 100%;
}

html,
body {
  height: 100%;
}

body {
  background: #2a9d8f url('https://icons.arkipel.io/bg/main.svg');
  background-size: 800px 400px;
}

button,
input {
  padding: 10px;
  font-size: 18px;
  border: 1px solid #bbb;
}

input[type='submit'],
input[type='button'],
button {
  cursor: pointer;
  color: #fff;
  border: none;
  background: rgb(40, 40, 40);

  &:disabled {
    cursor: default;
    background: rgb(120, 120, 120);
  }
}

nav ul {
  list-style-type: none;
}

// To be moved once we have the proper
// UI components for forms.
:global(.hint) {
  color: #aaa;
  font-size: 14px;
}

:global(.hint-error) {
  color: #a00;
  font-size: 14px;
}
