.topBar {
  display: grid;
  height: 50px;
  font-size: 30px;
  background: rgba(0, 0, 0, 0.06);

  div {
    height: 100%;

    :global(.button) {
      display: grid;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 100%;
      padding: 0 10px;
      text-decoration: none;
      border: none;
      background: none;
      cursor: pointer;
    }
  }

  img {
    height: 30px;
  }
}

.topBarLeft {
  background: rgba(0, 0, 0, 0.2);

  div {
    :global(.button) {
      width: 40px;
    }
  }

  img {
    transition: 0.2s linear;
    filter: invert(100%);
  }

  @media all and (min-width: 700px) {
    background: rgba(0, 0, 0, 0.12);
  }
}

.topBarNotification {
  background: orange;
  justify-content: flex-end;

  div {
    :global(.button) {
      width: 40px;
    }
  }

  img {
    transition: 0.2s linear;
    rotate: 180deg;
  }
}

.topBarRight {
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;

  div {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    align-items: center;

    span,
    button {
      display: grid;
      align-content: center;
      padding: 4px 10px;
      height: 100%;
      font-size: 18px;
    }

    button {
      background: none;
      color: black;
      text-decoration: underline;

      &:hover {
        cursor: pointer;
        background: rgba(0, 0, 0, 0.1);
      }
    }
  }

  & div:nth-child(2) {
    justify-content: flex-end;
  }
}
