.main {
  display: grid;
  grid-template-rows: auto 1fr;
  align-content: start;
  min-height: 0;
  height: 100%;
  width: 100%;
  background: #fff;

  @media all and (max-width: 699px) {
    grid-column: 1;
    grid-row: 1;
  }
}

.content {
  display: grid;
  grid-gap: 10px;
  align-content: start;
  min-height: 100%;
  padding: 10px;

  p {
    font-size: 18px;
  }

  a {
    color: #666;

    &:hover {
      color: #444;
    }
  }

  nav {
    ul {
      display: grid;
      gap: 4px;
      grid-auto-columns: min-content;
      grid-auto-flow: column;

      li {
        width: auto;

        a {
          display: block;
          width: auto;
          padding: 8px 10px;
          color: #444;
          text-decoration: none;
          background: #eee;

          &.active {
            background: #ccc;
          }

          &:hover {
            background: #ccc;
          }
        }
      }
    }
  }

  form {
    display: grid;
    gap: 10px;

    @media all and (max-width: 499px) {
      button,
      input {
        width: 100%;
      }
    }
  }

  table {
    text-align: left;
    border-collapse: collapse;

    tr:nth-child(even) {
      background: #f6f6f6;
    }

    thead {
      th {
        border-bottom: 1px solid black;
      }
    }

    th,
    td {
      padding: 4px;
    }
  }
}
