@import '../styles/top-bar.scss';

.main {
  display: grid;
  grid-template-rows: auto 1fr;
  align-content: start;
  min-height: 0;
  height: 100%;
  width: 100%;
  background: #fff;
  scrollbar-width: thin;
  scrollbar-color: #ccc white;

  @media all and (max-width: 699px) {
    grid-row: 1;
    grid-column: 1;
  }

  @media all and (min-width: 700px) and (max-width: 999px) {
    grid-row: 1;
    grid-column: 2;
  }

  @media all and (min-width: 1000px) {
    grid-row: 1;
    grid-column: 2;
  }
}

.content {
  display: grid;
  grid-gap: 10px;
  align-content: start;
  min-height: 100%;
  padding: 10px;

  p {
    font-size: 18px;
  }

  a {
    color: #666;

    &:hover {
      color: #444;
    }
  }

  nav {
    ul {
      display: grid;
      gap: 4px;
      grid-auto-columns: min-content;
      grid-auto-flow: column;

      li {
        width: auto;

        a {
          display: block;
          width: auto;
          padding: 8px 10px;
          color: #444;
          text-decoration: none;
          background: #eee;

          &.active {
            background: #ccc;
          }

          &:hover {
            background: #ccc;
          }
        }
      }
    }
  }

  form {
    display: grid;
    gap: 10px;

    @media all and (max-width: 499px) {
      button,
      input {
        width: 100%;
      }
    }
  }

  table {
    text-align: left;
    border-collapse: collapse;

    thead {
      th {
        border-bottom: 1px solid black;
      }
    }

    tbody {
      tr {
        border-bottom: 1px solid #eee;

        &:first-child {
          border-top: 1px solid #eee;
        }
      }
    }

    th,
    td {
      padding: 4px;
    }
  }
}

.topBar {
  @include topBar;

  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;

  div {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    align-items: center;

    span,
    button {
      display: grid;
      align-content: center;
      padding: 4px 10px;
      height: 100%;
      font-size: 18px;
    }

    button {
      background: none;
      color: black;
      text-decoration: underline;

      &:hover {
        cursor: pointer;
        background: rgba(0, 0, 0, 0.1);
      }
    }
  }

  .resources {
    span {
      padding: 4px 10px 4px 4px;
    }

    .miniIcon {
      height: 16px;
      width: 16px;
      margin: 0;
      padding: 0;
    }
  }

  & div:nth-child(2) {
    justify-content: flex-end;
  }
}
