@import '../styles/config.scss';

@mixin tile {
  cursor: pointer;

  img {
    margin: 6px;
  }
}

.deepWater {
  @include tile;

  background: $deepWater;
}

.water {
  @include tile;

  background: $water;
}

.sand {
  @include tile;

  background: $sand;
}

.land {
  @include tile;

  background: $land;
}

.inactive {
  cursor: default;
}
