@import '../styles/config.scss';
@import '../styles/top-bar.scss';

@mixin tile {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  cursor: pointer;

  img {
    margin: 2px;
  }
}

.deepWater {
  @include tile;

  background: $deepWater;
}

.water {
  @include tile;

  background: $water;
}

.sand {
  @include tile;

  background: $sand;
}

.land {
  @include tile;

  background: $land;
}

.inactive {
  cursor: default;
}
