@import '../styles/config.scss';
@import '../styles/top-bar.scss';

.menuPane {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-column: 1;
  grid-row: 1;
  min-height: 0;
  height: 100%;
  width: $menuPaneWidth;
  color: white;
  background: #264653;
  z-index: 100;
  transform: translateX(-$menuPaneWidth);
  transition: 0.4s cubic-bezier(0.23, 1, 0.32, 1);

  footer {
    padding: 10px;
    color: rgba(255, 255, 255, 0.2);
    text-align: center;
    font-size: 12px;

    a {
      color: rgba(255, 255, 255, 0.3);
    }
  }

  a {
    color: #fff;
  }

  @media all and (min-width: 700px) {
    transform: translateX(0);
  }

  &.visible {
    transform: translateX(0);

    @media all and (max-width: 699px) {
      box-shadow: 1px 0 10px #111;
    }
  }
}

.menu {
  display: grid;
  height: 100%;
  grid-template-rows: 1fr auto;

  h1 {
    display: block;
    padding: 10px;
    font-size: 28px;
  }

  nav a {
    display: block;
    padding: 10px;
    font-size: 18px;
    text-decoration: none;

    &:hover {
      background: rgba(0, 0, 0, 0.2);
    }

    &.active {
      background: rgba(0, 0, 0, 0.2);
    }
  }
}

.topBar {
  @include topBar;

  background: rgba(0, 0, 0, 0.14);

  div {
    :global(.button) {
      width: 40px;
    }
  }

  img {
    transition: 0.2s linear;
    filter: invert(100%);
    opacity: 20%;
  }
}
