* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  background: #2a9d8f url('https://icons.arkipel.io/bg/main.svg');
  background-size: 800px 400px;
}

#mount {
  height: 100%;
}

/* Fonts */

@font-face {
  font-family: 'Rubik';
  font-weight: normal;
  font-style: normal;
  src: url('../src/assets/fonts/rubik/rubik-regular.ttf');
}

@font-face {
  font-family: 'Rubik';
  font-weight: bold;
  font-style: normal;
  src: url('../src/assets/fonts/rubik/rubik-bold.ttf');
}

@font-face {
  font-family: 'Rubik';
  font-weight: normal;
  font-style: italic;
  src: url('../src/assets/fonts/rubik/rubik-italic.ttf');
}

@font-face {
  font-family: 'Rubik';
  font-weight: bold;
  font-style: italic;
  src: url('../src/assets/fonts/rubik/rubik-bold-italic.ttf');
}

@font-face {
  font-family: 'Inter';
  font-weight: normal;
  font-style: normal;
  src: url('../src/assets/fonts/rubik/inter-regular.ttf');
}

@font-face {
  font-family: 'Inter';
  font-weight: bold;
  font-style: normal;
  src: url('../src/assets/fonts/rubik/inter-bold.ttf');
}
