@import '../../styles/config.scss';

.album {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 10px;
  justify-content: space-between;
}

.miniature {
  text-align: center;
  text-decoration: none;

  img {
    display: grid;
    align-content: center;
    text-align: center;
    margin: auto;
    width: 100%;
  }

  span {
    font-weight: bold;
    color: $linkColor;
    text-decoration: underline;
  }
}
